h3 {
  color: green;
  margin:  30px;
  padding:  30px;
}
table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: default;
}
.form-center {
  display:flex;
  justify-content: center;
}

