<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Registration form</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style type="text/css">
        .error {
            color: red;
        }
    </style>

</head>
<body>
<form action="#" th:action="@{/}" th:object="${newAppointment}" method="post">
    <div>
        <p th:text="#{register.visit}">register.visit</p>
        <p></p>
        <div class="mb-3">
            <p th:text="#{doctor.name}">doctor.name</p>
            <select th:id="dentistName" th:field="*{dentist}" tabindex="1" th:autocomplete="off" th:required="required">
                <option value="">---</option>
                <option th:each="dentist : ${dentistsAll}"
                        th:text="${dentist.name}"
                        th:value="${dentist.id}">
                </option>
                <td th:if="${#fields.hasErrors('dentist')}" th:errors="*{dentist}"></td>
            </select>

        </div>
        <p></p>
        <div class="mb-3">
            <p th:text="#{visit.date}">visit.date</p>
            <input type="text" th:field="*{visitDate}" th:value="*{visitDate}" id="date" tabindex="2" autocomplete="off"
                   required="required" th:onchange="'getdate()'"/>
        </div>
    </div>
    <p></p>
    <div class="mb-3">
        <p th:text="#{visit.time}">visit.time</p>
        <select id="inputTime"  tabindex="3" autocomplete="off" th:required="required">

<!--            <option value="1">09:00 - 09:40</option>-->
<!--            <option value="2">10:00 - 10:40</option>-->
<!--            <option value="3">11:00 - 11:40</option>-->
<!--            <option value="4">12:00 - 12:40</option>-->
<!--            <option value="5">13:00 - 13:40</option>-->
<!--            <option value="6">15:00 - 15:40</option>-->
<!--            <option value="7">16:00 - 16:40</option>-->
<!--            <option value="8">17:00 - 17:40</option>-->
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}"></td>
        </select>
    </div>
    <p></p>

    <input type="submit" value="Send"/>
</form>
<script>
    $(function () {
        $('#date').datepicker({
            minDate: "+1d",
            beforeShowDay: $.datepicker.noWeekends,
            dateFormat: 'dd-mm-yy',
            firstDay: 1
        });
    });
</script>



<script>

    function getdate() {
        // $("#inputDentist").value();
        // $("#date").value();

        let inputDentist = document.getElementById('dentistName');
        let id = inputDentist.options[inputDentist.selectedIndex].value;
        let inputDate = document.getElementById('date');
        let visitDate = inputDate.value;
        console.log(id);
        console.log(visitDate);

            $.ajax({url: "/dentists/"+id+"/"+visitDate,
                success: function(result){
                    console.log(result);
                   }});

        $('#inputTime').append(`<option value="${availableTimeDTO.id}"> ${availableTimeDTO.timePeriod}</option>`);





    }
</script>
</body>
</html>
