<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Registration form</title>


</head>
<body>
<form action="#" th:action="@{/}" th:object="${newAppointment}" method="post">
    <div class="mb-3">

        <p th:text="#{register.visit}">register.visit</p>

        <select id="inputDentist" th:field="*{dentist}"  >

            <option th:each="dentist : ${dentistsAll}"
                    th:text="${dentist.name}"
                    th:value="${dentist.id}">
            </option>
        </select>
    </div>
    <div class="mb-3">
        <p th:text="#{visit.date}">visit.date</p>
        <input type="date" th:field="*{visitTime}" name="calendar"/>
    </div>
    <p></p>

    <input type="submit" value="Send"/>
</form>

</body>
</html>